/*---------------------Bases----------------------*/

.colors {
    color: #FFCC29;
    color: #00A859;
    color: #A8CF45;
    color: #3E4095;
    color: #F58634;
    color: #57A695;
    color: #A8518A;
    color: #Ed3237;
    color: #FFF212;
    color: #585570;
    color: #EC268F;
}

@font-face {
    font-family: TinDog;
    src: url('../font/TinDog.ttf');
}

@font-face {
    font-family: TinDogIt;
    src: url('../font/TinDogIt.ttf');
}

.tindog {
    font-family: TinDog;
}

.tindogit {
    font-family: TinDog;
}


/*---------------------Etiquetas------------------*/

body {
    background: url("../img/background/gb.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

p {
    font-size: 1.7em;
}


/*---------------------Clases---------------------*/

.border-image {
    border-radius: 8px;
}

.shadow {
    -webkit-box-shadow: 10px 10px 9px -6px rgba(0, 168, 89, 1);
    -moz-box-shadow: 10px 10px 9px -6px rgba(0, 168, 89, 1);
    box-shadow: 10px 10px 9px -6px rgba(0, 168, 89, 1);
}

.text-shadow {
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #3E4095;
}

.logo {
    width: 80px;
    height: auto;
}

.mt-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.md-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.mt-100 {
    padding-top: 100px;
}

.circle {
    position: relative;
    border-radius: 50%;
    display: block;
}

.image {
    width: 100%;
    height: auto;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

div.seccion:hover {
    -webkit-filter: blur(4px);
    filter: blur(4px);
}


/*---------------------Secciones------------------*/

.seccion1 {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.seccion1 p,
h1 {
    opacity: 1;
}


/*---------------------Nombre----------------*/

#mapid {
    height: 350px;
    width: 100%;
}


/*---------------------Efectos--------------------*/


/*secciones*/

.secciones {
    position: relative;
    width: 50%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.secciones:hover .image {
    opacity: 0.3;
}

.secciones:hover .middle {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}


/*---------------------Medias Query---------------*/

@media (max-width: 780px) {
    body {
        background-size: cover;
    }
    .seccion1 {
        background-size: cover;
    }
    .image {
        width: 300px;
        height: auto;
    }
}

@media (max-width: 384px) {
    .image {
        width: 150px;
        height: auto;
    }
}