/*---------------------Bases----------------------*/

.colors {
    color: #FFCC29;
    color: #00A859;
    color: #A8CF45;
    color: #3E4095;
    color: #F58634;
    color: #57A695;
    color: #A8518A;
    color: #Ed3237;
    color: #FFF212;
    color: #585570;
    color: #EC268F;
}

@font-face {
    font-family: TinDog;
    src: url('../font/TinDog.ttf');
}

@font-face {
    font-family: TinDogIt;
    src: url('../font/TinDogIt.ttf');
}


/*---------------------Etiquetas------------------*/

body {
    background: url("../img/background/wall01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    font-family: TinDog;
}


/*---------------------Clases---------------------*/

.shadow {
    -webkit-box-shadow: 10px 10px 9px -6px rgba(0, 168, 89, 1);
    -moz-box-shadow: 10px 10px 9px -6px rgba(0, 168, 89, 1);
    box-shadow: 10px 10px 9px -6px rgba(0, 168, 89, 1);
}


/*---------------------Nombres--------------------*/


/*---------------------Medias Query---------------*/

@media (max-width: 780px) {}

@media (max-width: 384px) {}