/*---------------------Bases----------------------*/

.colors {
    color: #FFCC29;
    color: #00A859;
    color: #A8CF45;
    color: #3E4095;
    color: #F58634;
    color: #57A695;
    color: #A8518A;
    color: #Ed3237;
    color: #FFF212;
    color: #585570;
    color: #EC268F;
}


/*---------------------Etiquetas------------------*/


/*---------------------Clases---------------------*/


/*---------------------Nombres--------------------*/


/*---------------------Medias Query---------------*/

@media (max-width: 780px) {}

@media (max-width: 384px) {}